{% extends 'base.html.twig' %}

{% form_theme newAnimationForm 'bootstrap_4_layout.html.twig' %}

{% block title %}
    Nouvelle Animation
{% endblock %}


    {% block main %}
        <div class="container p-5 ">

            {{ form_start(newAnimationForm) }}
            <div class="justify-content-center col">
                <div class="form-row form-group">
                    <div class="col">
                        <h1 class="display-3">Nouvelle Animation</h1>
                    </div>
                </div>

                <div class="form-row form-group">
                    <div class="col">
                        {{ form_errors(newAnimationForm) }}
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col">
                        {{ form_row(newAnimationForm.name) }}
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col">
                        {{ form_row(newAnimationForm.description) }}
                    </div>
                </div>
                <div class="form-row form-group ">
                    <div class="col">
                        {{ form_row(newAnimationForm.author) }}
                    </div>
                </div>
                <div class="form-row form-group ">
                    <div class="col">
                        {{ form_row(newAnimationForm.playersNumber) }}
                    </div>
                </div>
                <div class="form-row form-group">
                    <div class="col">
                        {{ form_row(newAnimationForm.content) }}
                    </div>
                </div>
                <div class="form-row form-group justify-content-center">
                    <div class="col-4">
                        <button class="btn btn-block cta" type="submit">Ajouter une animation</button>
                    </div>
                </div>
            </div>
            {{ form_end(newAnimationForm) }}


        </div>

    {% endblock %}

